body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    scroll-behavior: smooth;

    padding: 0;
}

.parallax {
    height: 100vh;
    width: auto;

    margin: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0 5px #000;

    transition: all 2.0s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.parallax img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}



.bg1 {
    background-image: url(../images/bg1.jpg);
}

.bg2 {
    background-image: url(../images/bg2.jpg);
}

.bg3 {
    background-image: url(../images/bg3.jpg);
}

#titlePage {
    font-size: 5.5vmax;
}

#globalState {
    margin-top: 5vmin;
    font-size: 2.5vmax;
    margin-bottom: 3vmin;
}

#setting {
    font-size: 2.4vmax;
}

.workingOrder,
#show_waterLevel,
#show_electricityLevel {
    transition: all 1s ease;
}

#showDataEx,
#showDataIn {
    left: 50%;
    top: 50vh;
    position: absolute;
    transform: translate(-50%, -50%);
}

#connect {
    width: 50vmax;
    height: 16vh;
    position: absolute;
    left: 50%;
    top: 16.6666%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border-radius: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
    color: #FFF;
    font-size: 3vmax;
    text-align: center;

    display: flex;
    /* contexte sur le parent */
    flex-direction: column;

    transition: all 0.8s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

#connect::before {
    content: 'MiniSerre';
    width: auto;
    height: 6vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8%;
    padding-right: 8%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 5vh;
}

#connect input {
    width: 90%;
    text-align: center;
    columns: 0;
    margin: auto;
    /* eh oui, tout bêtement */
}

#inputMail {
    margin-bottom: 1vh;
}

#removeCookie {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    font-size: 1.5vmax;
    cursor: pointer;
}

#trueBox,
#falseBox {
    width: 30%;
    margin: 1.5vmax;
    font-size: 1.5vmax;
}
